<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- custom css -->
	<link rel="stylesheet" href="styles.css">
	<link href='https://fonts.googleapis.com/css?family=Tillana' rel='stylesheet' type='text/css'>
</head>	
<body>
	<div class="container">
		{{ > header }}
	</div>
	<div class="row">
		<div class="hackers text-center col-md-8 col-md-offset-2">
			<h1>QUIT TRYING TO HACK THIS AWESOME BLOG<h1>
			<img class="hacking" src="hacking.png">
		</div>
	</div>
<body>
	
</body>
</html>