<!DOCTYPE html>
<html>
	<head>
		<title>Microblog</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link relhttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
			<link rel="stylesheet" type="text/css" href="main.css">
		</head>
		
		<body>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">
							<img id="bat" alt="Brand" src="http://icons.iconarchive.com/icons/icons8/windows-8/128/Cinema-Batman-New-icon.png">
						</a>
					</div>
				</div>
			</nav>
			<div class="container">
				<h1>Micro-Blog</h1>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<form class="post-form" id="create-post">
						<input type="text" name="title" class="form-control" placeholder="title" style="width:800px">
						<input type="text" rows="10" name="story" class="form-control"  style="width:800px; height:200px;" >
						<input type="submit" class="btn btn-default" value="Add Post">
					</form>
					
					<ul id="posts-list">
						<script id="posts-template" type="text/x-handlebars-template">
						\{{#each posts}}
						<li><strong>\{{title}}</strong><br>
							
						\{{story}}</li>
						</textarea>
						\{{/each}}
						</script>
					</ul>
				</div>
			</div>
			
			<!-- jquery -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
			<!-- bootsrap js -->
			<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<!-- handlebars -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
			<!-- customer js -->
			<script type="text/javascript" src="main.js"></script>
		</body>
	</html>