<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MicroBlog</title>

	<!-- bootstrap -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- customs -->
	<link type="text/css" rel="stylesheet" href="main.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="page-header">
				<h1>Post a Quote  <small>Post a qoute </small></h1>
			</div>
		</div><!-- closing row -->
		
		<div class="row" >
			<div class="col-md-3" id="entry">
				<h3>test</h3>
				<div class="fields">
					<div class="btn-group" role="group">
	  					<button type="button" class="btn btn-default">Show All Quotes</button>
					</div>
					<!-- <form id="quoteSearch">
						<input id="quoteSearch" type: "text" placeholder="Find here">
						<input class="btn btn-default" id="submitSearch" type"submit" value="Search quote!">
					</form>	 -->
				</div><!-- closing feilds -->
			</div> 
			<div class="col-md-8 col-md-offset-3" id="quotes-list">
				<!-- Handlebars -->
				<script id="quotePost-template" type="text/x-handlebars-template">
					\{{#each quotesbars}}
						<h4>\{{statement}}</h4>
						<hr>
						<p>\{{category}}.  By: <strong>\{{author}}</strong><br />Date</p>
						<br />
					\{{/each}}
				</script>
				
				<!-- <h4>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam autem in sequi ducimus, nesciunt eos enim beatae aspernatur, quaerat obcaecati delectus, eligendi culpa optio veniam esse dolores adipisci excepturi consequuntur."</h4>
				<hr>
				<p>Category, By: <strong>Author</strong><br />Date</p> -->

				<!-- handlebars -->
			</div>
		</div><!-- closing row -->	

	</div><!-- closing container -->

	<!-- jQuery  -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<!-- handlebars -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- custom -->
	<script type="text/javascript" src="main.js"></script>

</body>
</html>