{{> header}}
	<div class="container text-center">
		<h2>Hello, {{user.username}}</h2>
		<p>This is your profile.</p>
		{{#each user.posts}}
			{{#if title}}
				<div class="row">
					<div class="col-xs-12">
						<h3>{{title}}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
					</div>
					<div class="col-xs-10">
						<h4>{{description}}</h4>
					</div>
				</div>
				<hr>
			{{/if}}
		{{/each}}
	</div>
</body>
</html>