<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<title>Profile</title>
</head>
<body>
	<div class="container">
		<h2>Welcome, {{user.username}}</h2>
		<p>This is your profile.</p>
	</div>
</body>
</html>