<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<h2>Welcome, {{user.username}}!</h2>
<p>This is your profile page.</p>











<!-- jquery -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
			<!-- bootsrap js -->
			<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<!-- handlebars -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
			<!-- customer js -->
			<script type="text/javascript" src="main.js"></script>
</body>
</html>