<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile Page</title>
</head>
<body>
	<h2>Welcome, {{ user.username }}, to the greatest blogging website!</h2>
	<p>Here is your profile page</p>
</body>
</html>