@font-face {
    font-family: 'ziamimiregular';
    src: url('ziamimi_regular-webfont.eot');
    src: url('ziamimi_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('ziamimi_regular-webfont.woff2') format('woff2'),
         url('ziamimi_regular-webfont.woff') format('woff'),
         url('ziamimi_regular-webfont.ttf') format('truetype'),
         url('ziamimi_regular-webfont.svg#ziamimiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: cyan;
}

.editDrop {
    display: none;
}

.container {
    background-color: white;
    border: magenta solid 4px;
    border-top: none;
    border-bottom: none;
}

.blogTitle{
    font-family: 'ziamimiregular';
    background-color: yellow;
    width: 100%;
    margin-bottom: none;


}

#pageHeading {
	background-color: magenta;
    font-family: 'ziamimiregular';
    font-size: 80px;
    color: yellow; 
    box-shadow: 0px 1px 10px magenta;
}

.btn {
    border: none;
    background-color: none;
    color: white;
    padding: 4px 9px;
    margin-bottom: 10px;
    margin-left: -3px;

}

hr {
    border: 2px solid magenta;
    border-width: 50%;
    margin-top: 20px;
}

h2 {
    display: inline-block;
    margin-top: 10px;
}

textarea {
    resize: none;
}

p {
    border-bottom: 2px solid magenta;
    padding: 10px;
    margin-bottom: 10px;
}


.btn-primary {
    background-color: magenta;
    color: white;
}

.btn-primary:hover {
    background-color: darkmagenta;
    color: white;
}


