body {
	height: 100%;
	background-color: white;
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

.full-height {
	height: 100%;
}

.info {
	margin: 20px 20px 10px 10px;
	padding: 20px;
	background-color: #EE3476;
	border: 5px solid #8E0032;
}

#discussion-question {
}

#post-results {
}

p {
	font-size: 24px;
}

p.name {
	font-size: 20px;
	color: #59016B;
}

.editPost {
	display: none;
}