body {
	background-color: #756955;
	background-image: url('https://sugarchalet.files.wordpress.com/2012/11/blog-background1.jpg');
	font-family: 'Josefin Sans', sans-serif;
	color: #FFFFFF;
}
.blogTitle {
	font-size: 50px;
		
}
.newBlogTitle {
	font-size: 35px;
	background-color: #337AB7;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	display: inline-block;
	padding: 5px;
}
.newBlogTitle:hover {
	background-color: #286090;
	cursor: pointer;
}
.blog-content {
	background-color: #524938;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}
.changes {
	float: right;
}
.mainBlogTitle {
	font-size: 25px;
	text-decoration: underline;
}
.blogPostContent {
	font-size: 15px;
}
.category {
	font-size: 10px;
}
