body {
	margin: 50px;
	background-color: #fafafa;
	padding-top: 70px;
}

.navbar {
	height: 55px;
}

#nav-header {
	margin-top: 10px;
	padding-left: 60px;
}

#new-post-button {
	text-align: right;
	margin-top: 10px;
	padding-right: 60px;
}

#profile-pic {
	height: 35px;
	width: 35px;
	margin-top: 10px;
}

#profile-pic-two {
	height: 50px;
	width: 50px;
	margin-top: 10px;
}

.btn-info {
	background-color: #337ab7;
	border-color: #337ab7;
}

.row {
	margin: 5px;
}

#all-posts-title {
	font-size: 24px;
	font-weight: bold;
}

#total-count-badge {
	background-color: #bfbfbf;
	vertical-align: text-top;
}

.glyphicon {
	margin: 5px;
}

#thumbnail-posts-list {
	background-color: white;
	margin: 15px;
	padding: 5px;
}

#post {
	background-color: white;
	margin: 15px;
	padding: 15px;
}

#single-post-header {
	margin-left: 0px;
}

@media all and (max-width: 500px) { /* screen size until 500px */
    #all-posts-title {
        font-size: 0.9em; /* 0.8x default size */
    }
    #total-count-badge {
    	font-size: .8em;
    }
}

@media all and (max-width: 500px) { /* screen size until 500px */
    #profile-pic-two {
        font-size: 0.9em; /* 0.8x default size */
    }
}